

GtkNotebook {
	background-color: @bg_color_darker;
  color: @standard_font_color;
	border-width: 2px;
	border-radius: 0px;
	border-color: #111111;
	font: Sans thin 8;

}

GtkNotebook GtkButton {
	padding: 0px;
	color: #ff0000;
	background-color: #ff0000;
}

/* Inactive notebook tab (background) */
GtkNotebook tab {
	padding: 0px;
	background-color: #222222;
	border-style:solid;
	border-width: 1px;
}

GtkNotebook tab:active {
	background-color: #333333;
	border-style:solid;
	border-width: 1px;
}

GtkNotebook tab:hover {
	background-color: #444444;
	border-style:solid;
	border-width: 1px;
}



GtkNotebook tab GtkLabel {
	padding: 3px 20px 3px 20px;
	color: @standard_font_color;
	background-color: transparent;
	font: Sans thin 12;
}
GtkNotebook tab:active:hover GtkLabel {
	background-color: #ff0000;
	border-color: #111111;
}

