

GtkNotebook {
	background-color: @bg_color_darker;
	border-color: #111111;
	padding: 1px; /* small padding to draw fine line around all */
	border-style:solid;
	border-width: 1px;
}

/* Inactive notebook tab (background) */
GtkNotebook tab {
	background-color: @bg_color;
	border-style:solid;
	border-width: 1px;
	border-radius: 3px;
}

/* Active notebook tab (foreground) */
GtkNotebook tab:active {
	background-color: @bg_color_darker;
	border-style:solid;
	border-width: 1px;
	border-radius: 3px;
}

/* Formatting of the standard Label within a notebook */
GtkNotebook tab GtkLabel {
	padding: 3px 20px 0px 20px;
	color: @standard_font_color;
	background-color: transparent;
	font: Sans thin 11;
}
