@define-color base_color #ffffff;

* {
	engine: none;
  padding: 1px;
  -GtkButton-child-displacement-x: 1;
  -GtkButton-child-displacement-y: 1;
  -GtkCheckButton-indicator-size: 14;

  background-color: #111111;
  color: #ffffff;

	font: Sans 10;

}

.menubar {
  background-color: #040404;
	border: 0px;
}

GtkMenu {
  background-color: #555555;
	border-color: #777777;
	border-width: 2px;
	border-style: solid;
	border-radius: 5px;
}

GtkMenuItem {
  background-color: #000000;
	border: 0px;
	border-radius: 4px;
}

/*

*:hover {
  background-color: shade (@bg_color, 1.02);
}

*:selected {
  background-color: @selected_bg_color;
  color: @selected_fg_color;
}

*:insensitive {
  color: shade (@bg_color, 0.7);
}

*:active {
  background-color: shade (@bg_color, 0.9);
}

.tooltip {
  padding: 4px;

  background-color: @tooltip_bg_color;
  color: @tooltip_fg_color;
}

.button {
  padding: 3px;
  background-color: #444444;
}

.button:hover {
  background-color: shade (@bg_color, 1.06);
}

.button:active {
  background-color: shade (@bg_color, 0.85);
}

.entry {
  padding: 3px;

  background-color: @base_color;
  color: @text_color;
}

.entry:selected {
  background-color: mix (@selected_bg_color, @base_color, 0.4);
  -Clearlooks-focus-color: shade (0.65, @selected_bg_color)
}

#window-name .button,
GtkWindow#window-name GtkButton.button {
  background-color: #ff0000;
}

*/

/* 
 * Enabled via gtk_tree_view_set_rules_hint(GTK_TREE_VIEW(list), TRUE);
 * see http://stackoverflow.com/questions/8946016/gtktreeview-with-css-in-gtk3
 */
GtkTreeView {
	-GtkWidget-even-row-color: green;
	color: white;
}

GtkEventBox#header {
	background-image: url("../../pixmaps/dark/header.png");
}
